<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to utsoniss.com, <%= @user.first_name %></h3>
    <p>
      You have successfully signed up to <strong>utsoniss.com</strong>,
      your username is: <strong><%= @user.username %></strong>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>