<ul>
  <li>
    <p>
      <strong><%= comment.content %></strong>
      <span><i>Posted: <%#= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</i></span>
      <abbr class="timeago" title="<%= comment.created_at %>">
        <%= comment.created_at.to_s %>
      </abbr>
    </p>
  </li>
</ul>
