<div class="jumbotron">
      <h1>Welcome to Sprouts Blog</h1>
      <p>When a post or a comments is beeing sent an email will be sent to the OP using Mandrill</p>
      <p>
        <%= link_to "View the Blog", posts_path, class: "btn btn-success", role: "button" %>
      </p>
</div>